#movies-container {
    display: flex;
    flex-direction: column;
    width: 80%; 
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    flex-basis: calc(20% - 12px); 
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}

.card-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 50px; 
    padding: 10px 0;
}

.filtered-card-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 15px; 
    margin-bottom: 50px;
    padding: 10px 0;
    width: 100%;
}
.image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.info {
    padding: 15px;
}
.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.movie-views {
    font-size: 1.0em;
    color: rgba(138, 137, 137, 0.9);
    margin-bottom: 10px;
}

.views-img {
    width: 15px;
    height: 15px;
    background-color: white;
}

.description {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size : 14px;
    transition : background 0.3s;
}
.button:hover {
    background-color: darkred;
}

#categoria-nombre {
    font-size: 2.25em;
}

#subcategoria-nombre {
    font-size: 1.75em;
}