body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
}
.title {
    background-color: red;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.suscribirse {
    padding: 20px;
    border-radius: 4px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: rgb(127, 19, 19);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.texto1 {
    margin-top: 10px;
}

.coste {
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
    color: greenyellow;
    font-size: 1.5em;
    background-color: rgb(230, 101, 101);
}

.susbtn {
    font-size: 1.2em;
    margin-left: 10px;
    transition: transform 0.3s;
    background-color: grey;
    border-radius: 4px;
}

.susbtn:hover {
    transform: scale(1.05);
}

.page-title {
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    font-size: 3.0em;
    font-weight: bold;
}
.footer {
    background-color: black;
    color: #bbb;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;}
.footer a {
    color: red;
    text-decoration: none;
    margin: 0 10px;}
.footer a:hover {
    color: darkred;}