

  /* (Contenedor) Caja donde esta el formulario */
 #contenedor {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(5px);
	opacity: 0;
	pointer-events: none;
	transition: transform 0.4s ease;
	z-index: 999;
}
#contenedor.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* Formulario interno */
#contenedor form {
    background: #222;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(0.8);
    transition: transform 0.4s ease;
}

#contenedor.visible form {
    transform: scale(1);
}

  #contenedor:hover {
    /* le ponemos un poco de zoom*/
      transform: scale(1.02);
      
  }

  /*titulo del formulario*/
  #contenedor h2 {
      text-align: center;
      margin-bottom: 25px;
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: 1px;
  }

  /* estilos para los campos de input y el select del js */
  .campo {
    /*espacios entre un campo y otro*/
      margin-bottom: 20px;
  }

  .campo input,
  .campo select {
      width: 95%;
      padding: 12px;
      background: #333;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1rem;
      transition: all 0.3s ease;
      /* Transición suave */
  }

  /* cuando hacemos foco en el campo cambia */
  .campo input:focus,
  .campo select:focus {
      background: #444;
      transform: scale(1.03);
      /*borde rojo*/
      outline: 2px solid #e50914; 
      box-shadow: 0 0 10px #e50914;
  }

  /* boton de enviar el fomulario*/
  .boton {
      width: 100%;
      background: #e50914;
      border: none;
      padding: 12px;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      transition: all 0.3s ease;
      /* transición para el hover */
      box-shadow: 0 0 8px rgba(229, 9, 20, 0.5);
  }

  /* efectos para cuando pasemos el raton por el boton*/
  .boton:hover {
      background: #f6121d;
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(229, 9, 20, 0.8);
  }

  /* mensaje de exito que desde un principio esta escondido con el display none */
  .mensaje {
      text-align: center;
      margin-top: 15px;
      color: rgb(115, 214, 115);
      display: none;
      font-weight: bold;
      transition: opacity 0.3s ease;
  }